body{
	font-size: 10px;
}

.red{
	background-color: rgb(255,0,0);
	width:100px;
	height: 100px;
	border-radius:30%;
}

.pink{
	background-color:rgba(255,0,0,0.2);
	width:100px;
	height:100px;
	border-radius:30%;
	font-size: 50px;
}

.teal{
background-color:#00AAAA;
	width:5em;
	height:5em;
	border-radius:30%;
}

.orange{
	background-color:hsl(20,100%,50%);
	width:50vw;
	height:50vw;
	border-radius:30%;

}