#main{
	width:50vw;
	height:100vh;
	background-color: black;
}

.blue{
	width:50%;
	hight:50%;
	background-color: blue;
}
#red{
	width:50%;
	height:50%;
	background-color: red;
}

#main div.blue p{
	color:white;
	font-family: sans-serif;
	font-size: 24pt;
}

div.blue-2 p{
	color:gray;
	font-size: 48pt;
}